[run]
omit =
    */tests/*
    src/zensvi/utils/*
    src/zensvi/download/mapillary/*
    src/zensvi/download/utils/*
    src/zensvi/cv/depth_estimation/depth_anything/*
    src/zensvi/cv/depth_estimation/zoedepth/*
    src/zensvi/cv/depth_estimation/torchhub/*


[report]
# Exclude lines from coverage
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
    raise AssertionError

omit =
omit =
    */tests/*
    src/zensvi/utils/*
    src/zensvi/download/mapillary/*
    src/zensvi/download/utils/*
    src/zensvi/cv/depth_estimation/depth_anything/*
    src/zensvi/cv/depth_estimation/zoedepth/*
    src/zensvi/cv/depth_estimation/torchhub/*

[html]
directory = coverage_html_report