[tool.poetry]
name = "streetscope"
version = "0.3.9"
description = "This package handles downloading, cleaning, analyzing street view imagery"
authors = ["koito19960406"]
license = "MIT"
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.9"
Pillow = ">=8.3.2,<9.6"
geopandas = "^0.9.0"
geopy = "^2.2.0"
numpy = "^1.21.2"
opencv_python = "^4.5.3"
osmnx = "^1.1.1"
pandas = "^1.3.3"
requests = "^2.30.0"
setuptools = "^58.0.4"
Shapely = "^1.7.1"
torch = "^2.0.0"
tqdm = "^4.62.2"
transformers = "^4.10.2"
scipy = "^1.7.1"

[tool.poetry.dev-dependencies]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
