[tool.poetry]
name = "zensvi"
version = "0.7.2"
description = "This package handles downloading, cleaning, analyzing street view imagery in a one-stop and zen manner."
authors = ["koito19960406"]
license = "MIT"
readme = "README.md"

[tool.poetry.dependencies]
python = ">=3.8,<3.11"
Pillow = ">=8.3.2,<9.6"
geopandas = ">=0.10.0"
geopy = "^2.2.0"
numpy = ">=1.21.0"
opencv_python = ">=4.5.3"
osmnx = "^1.1.1"
pandas = "^1.3.3"
requests = "^2.25.1"
setuptools = ">=64.0.3"
Shapely=">=1.8.1"
torch = "^2.0.0"
tqdm = "^4.61.1"
transformers = "^4.10.2"
scipy = "^1.7"
networkx="^3.1"
attrs = "^21.2.0"
bleach = "^3.3.0"
certifi = "^2021.5.30"
chardet = "^4.0.0"
click = "^8.0.1"
click-plugins = "^1.1.1"
cligj = "^0.7.2"
coverage = "^5.5"
docutils = ">=0.16"
future = "^0.18.2"
hypothesis = "^6.14.0"
idna = "^2.10"
iniconfig = "^1.1.1"
mapbox-vector-tile = "^1.2.1"
mercantile = "^1.2.1"
munch = "^2.5.0"
pkginfo = "^1.7.0"
pluggy = "^0.13.1"
protobuf = "^3.17.3"
psutil = "^5.8.0"
py = "^1.10.0"
pyparsing = "^2.4.7"
requests-toolbelt = "^0.9.1"
six = "^1.16.0"
sortedcontainers = "^2.4.0"
twine = "^1.13.0"
urllib3 = "^1.26.5"
vt2geojson = "^0.2.1"
webencodings = "^0.5.1"
Pygments = "^2.9.0"
haversine = "^2.3.1"
python-dotenv = "^0.19.0"
turfpy = "^0.0.7"
geojson = "^2.5.0"

[tool.poetry.dev-dependencies]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
